//Variables

$primary-color: pink;
$secondary-color:lightgreen;
$big-heading: 32px;

// Mixin - Samling av CSS Properties
@mixin text-styling($size){
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:$size;
    text-decoration: underline;
}

@mixin border($color){
    border: 2px solid $color;
    padding:4px;
    margin:2px;
}

@mixin flex($direction, $justify,$align) {
    display:flex;
    flex-direction:$direction;
    justify-content: $justify;
    align-items: $align;

}

* {
    background:darkblue;
}

h1 {
    color:white;
}

header {
    @include flex(column,center,center);
    @include border($secondary-color);

    h2 {
        font-size: $big-heading;
        color:$secondary-color;
    }
    p {
        @include text-styling(12px);
        color:$secondary-color;
    }
}

main {
    @include border($primary-color);

    h2, p {
        @include text-styling(24px);
        color:$primary-color;
    }
}

// header h2, header p {
//     color:lightgreen;
// }

// main h2, main p {
//     color:lightcoral;
// }

